<div class="user-info-container">
  <% @users.each do |user| %>
    <ul class="user-container">
      <li class="gravatar"><%= gravatar_for user %></li>
      <li><%= link_to user.username, user_path(user) %></li>
      <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
      <li><%= user.email %></li>
    </ul>
  <% end %>
  <div class="cntr">
    <%= will_paginate %>
  </div>
</div>