<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Alpha-Blog", root_path, :class => "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="nav-buttons"><%= link_to "Home", root_path %></li>
        <li class="nav-buttons"><%= link_to "About", about_path %></li>
        <li class="dropdown nav-explore-button">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="nav-sub-explore-dropdown"><%= link_to "Articles", articles_path %></li>
            <li class="nav-sub-explore-dropdown"><%= link_to "Create Article", new_article_path %>
            <li class="nav-sub-explore-dropdown"><%= link_to "Users", users_path %></li></li>
            <!-- Temp -->
            <li class="nav-buttons logout"><%= link_to "Logout", logout_path, method: :delete, class: "logout-button" %></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <!-- toggle logout button -->
        <% if !logged_in? %>
          <li class="nav-buttons"><%= link_to "Sign in", login_path %></li>
          <li class="nav-buttons"><%= link_to "Sign up", signup_path %></li>
        <% else %>
          <li class="nav-buttons logout"><%= link_to "Logout", logout_path, method: :delete, class: "logout-button" %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

