<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><%= image_tag("alpha-blog-logo.png", :alt => "alpha blog logo", :class => "logo") %></li>
        <li class="nav-background"><%= link_to "Home", root_path %></li>
        <li class="nav-background"><%= link_to "About", about_path %></li>
        <li class="nav-background add_button"><%= link_to "Add Article", new_article_path %></li>
        <ul id="nav-right">
          <li class="nav-background"><a href="#">Sign-in</a></li>
          <li class="nav-background"><a href="#">Sign-up</a></li>
          <li class="nav-background" style="display: none;"><a href="#">Logout</a></li>
        </ul>
      </ul>
    </nav>
  </header>
 <%= yield %>

</body>
</html>
